# Proyecto 01 - ETL - HENRY

# Visualización y Transformación de Dataframes

## Importación de librerias

In [121]:
import pandas as pd
import gzip
import re
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

## Visualización del archivo steam_games

Realizar la extracción de los datos del archivo steam_games y se almacena en un dataframe para una debida manipulación y transformación.

In [2]:
# Utilizamos la libreria gzip para abrir el archivo comprimido
with gzip.open('02_Datasets_PI MLOps_STEAM/steam_games.json.gz', 'rt', encoding='utf-8') as steam_games:
    #Leemos cada linea del archivo
    data_steam_games = steam_games.readlines()
# Itera sobre cada linea leida quitando los espacios en blanco y caracteres de nueva linea al final de cada elemento de la lista  
data_steam_games = map(lambda x: x.rstrip(), data_steam_games)
# Se crea una cadena json válida concatenando todos los elementos de la lista
data_steam_games_json = "[" + ','.join(data_steam_games) + "]"
# Se cargan los datos en formato json en un dataframe de pandas
df_steam_games = pd.read_json(data_steam_games_json)
# Se genera el encabezado del dataframe
df_steam_games

C:\Users\haide\AppData\Local\Temp\ipykernel_24472\1659813249.py:10: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_steam_games = pd.read_json(data_steam_games_json)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,discount_price,specs,price,early_access,id,metascore,developer,user_id,steam_id,items,items_count
0,None,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,None,None,76561197970982479,7.656120e+16,"[{'item_id': '10', 'item_name': 'Counter-Strik...",277.0
1,None,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,None,None,js41637,7.656120e+16,"[{'item_id': '10', 'item_name': 'Counter-Strik...",888.0
2,None,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,None,None,evcentric,7.656120e+16,"[{'item_id': '1200', 'item_name': 'Red Orchest...",137.0
3,None,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,None,None,Riot-Punch,7.656120e+16,"[{'item_id': '10', 'item_name': 'Counter-Strik...",328.0
4,None,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,None,None,doctr,7.656120e+16,"[{'item_id': '300', 'item_name': 'Day of Defea...",541.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,1.49,"[Single-player, Steam Achievements]",1.99,0.0,773640.0,None,"Nikita ""Ghost_RUS""",None,NaN,None,NaN
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,4.24,"[Single-player, Steam Achievements, Steam Clou...",4.99,0.0,733530.0,None,Sacada,None,NaN,None,NaN
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,1.39,"[Single-player, Steam Achievements, Steam Trad...",1.99,0.0,610660.0,None,Laush Dmitriy Sergeevich,None,NaN,None,NaN
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,NaN,"[Single-player, Steam Achievements, Steam Cloud]",4.99,0.0,658870.0,None,"xropi,stev3ns",None,NaN,None,NaN
120444,None,None,Maze Run VR,None,http://store.steampowered.com/app/681550/Maze_...,None,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,NaN,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,1.0,681550.0,None,None,None,NaN,None,NaN

## Visualización del archivo users_items

Realizar la extracción de los datos del archivo users_items y se almacena en un dataframe para una debida manipulación y transformación.

In [3]:
# Crear una lista vacia
data_users_items = []
# Utilizar la libreria gzip para abrir el archivo
with gzip.open('02_Datasets_PI MLOps_STEAM/users_items.json.gz', 'rt', encoding='utf-8') as user_items:
    # Leer cada linea del archivo
    for line in user_items:
        # Utilizar la funcion eval para evaluar el contenido de cada fila
        data_line = eval(line)
        # Utilizar la funcion append para agregar las lineas evaluadas a la lista vacia data_users_items
        data_users_items.append(data_line)
# Crear un dataframe a partir de la lista vacia data_users_items
df_users_items = pd.DataFrame(data_users_items)
# Visualizar el dataframe
df_users_items

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

## Visualización del archivo user_reviews

Realizar la extracción de los datos del archivo user_reviews y se almacena en un dataframe para una debida manipulación y transformación.

In [4]:
# Crear una lista vacia
data_user_reviews = []
# Utilizar la libreria gzip para abrir el archivo
with gzip.open('02_Datasets_PI MLOps_STEAM/user_reviews.json.gz', 'rt', encoding='utf-8') as user_reviews:
    # Leer cada linea del archivo
    for line in user_reviews:
        # Utilizar la funcion eval para evaluar el contenido de cada fila
        data_line = eval(line)
        # Utilizar la funcion append para agregar las lineas evaluadas a la lista vacia data_users_items
        data_user_reviews.append(data_line)
# Crear un dataframe a partir de la lista vacia data_users_items
df_user_reviews = pd.DataFrame(data_user_reviews)
# Visualizar el dataframe
df_user_reviews

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

## Transformacion del df_steam_games

Realizar una copia del df_steam_games llamada df_steam_games_v2

In [13]:
df_steam_games_v2 = df_steam_games.copy()

Eliminar del df_steam_games las columnas user_id, steam_id, items e items_count las cuales son innecesarias

In [14]:
df_steam_games_v2 = df_steam_games_v2.drop(['user_id', 'steam_id', 'items', 'items_count'], axis = 1)
df_steam_games_v2

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,discount_price,specs,price,early_access,id,metascore,developer
0,None,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,None,None
1,None,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,None,None
2,None,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,None,None
3,None,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,None,None
4,None,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,1.49,"[Single-player, Steam Achievements]",1.99,0.0,773640.0,None,"Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,4.24,"[Single-player, Steam Achievements, Steam Clou...",4.99,0.0,733530.0,None,Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,1.39,"[Single-player, Steam Achievements, Steam Trad...",1.99,0.0,610660.0,None,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,NaN,"[Single-player, Steam Achievements, Steam Cloud]",4.99,0.0,658870.0,None,"xropi,stev3ns"
120444,None,None,Maze Run VR,None,http://store.steampowered.com/app/681550/Maze_...,None,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,NaN,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,1.0,681550.0,None,None

Eliminar las filas en donde todas cada fila cumpla la condición de que todos sus valores son nulos.

In [15]:
# Eliminar todas las filas con la funcion dropna
df_steam_games_v2 = df_steam_games_v2.dropna(how='all')

Realizar reset del index ya que se eliminaron filas vacias

In [16]:
df_steam_games_v2 = df_steam_games_v2.reset_index(drop=True)
df_steam_games_v2

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,discount_price,specs,price,early_access,id,metascore,developer
0,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,4.49,[Single-player],4.99,0.0,761140.0,None,Kotoshiro
1,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,NaN,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,0.0,643980.0,None,Secret Level SRL
2,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,NaN,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,0.0,670290.0,None,Poolians.com
3,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,0.83,[Single-player],0.99,0.0,767400.0,None,彼岸领域
4,None,None,Log Challenge,None,http://store.steampowered.com/app/773570/Log_C...,None,"[Action, Indie, Casual, Sports]",http://steamcommunity.com/app/773570/reviews/?...,1.79,"[Single-player, Full controller support, HTC V...",2.99,0.0,773570.0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32130,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,1.49,"[Single-player, Steam Achievements]",1.99,0.0,773640.0,None,"Nikita ""Ghost_RUS"""
32131,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,4.24,"[Single-player, Steam Achievements, Steam Clou...",4.99,0.0,733530.0,None,Sacada
32132,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,1.39,"[Single-player, Steam Achievements, Steam Trad...",1.99,0.0,610660.0,None,Laush Dmitriy Sergeevich
32133,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,NaN,"[Single-player, Steam Achievements, Steam Cloud]",4.99,0.0,658870.0,None,"xropi,stev3ns"
32134,None,None,Maze Run VR,None,http://store.steampowered.com/app/681550/Maze_...,None,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,NaN,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,1.0,681550.0,None,None

Exportar en csv para realizar el EDA

In [14]:
df_steam_games_v2_EDA = 'df_steam_games_v2_EDA.csv'
df_steam_games_v2.to_csv(df_steam_games_v2_EDA, index=False)

Eliminar la columna title y dejar la columa app_name (dejando las palabras en formato titulo y quitando los duplicados)

In [17]:
# Eliminar la columna title mediante la funcion drop
df_steam_games_v2 = df_steam_games_v2.drop('title', axis=1)

In [18]:
# Cambiar el formato a todos los valores de la columna app_name
df_steam_games_v2['app_name'] = df_steam_games_v2['app_name'].str.title()
# Eliminar los valores nulos de la columna app_name
df_steam_games_v2 = df_steam_games_v2.dropna(subset=['app_name'])
# Renombrar la columna app_name
df_steam_games_v2 = df_steam_games_v2.rename(columns={'app_name': 'title'})
df_steam_games_v2

,publisher,genres,title,url,release_date,tags,reviews_url,discount_price,specs,price,early_access,id,metascore,developer
0,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,4.49,[Single-player],4.99,0.0,761140.0,None,Kotoshiro
1,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,NaN,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,0.0,643980.0,None,Secret Level SRL
2,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,NaN,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,0.0,670290.0,None,Poolians.com
3,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,0.83,[Single-player],0.99,0.0,767400.0,None,彼岸领域
4,None,None,Log Challenge,http://store.steampowered.com/app/773570/Log_C...,None,"[Action, Indie, Casual, Sports]",http://steamcommunity.com/app/773570/reviews/?...,1.79,"[Single-player, Full controller support, HTC V...",2.99,0.0,773570.0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32130,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,1.49,"[Single-player, Steam Achievements]",1.99,0.0,773640.0,None,"Nikita ""Ghost_RUS"""
32131,Sacada,"[Casual, Indie, Strategy]",Logistical: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,4.24,"[Single-player, Steam Achievements, Steam Clou...",4.99,0.0,733530.0,None,Sacada
32132,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,1.39,"[Single-player, Steam Achievements, Steam Trad...",1.99,0.0,610660.0,None,Laush Dmitriy Sergeevich
32133,SIXNAILS,"[Casual, Indie]",Exit 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,NaN,"[Single-player, Steam Achievements, Steam Cloud]",4.99,0.0,658870.0,None,"xropi,stev3ns"
32134,None,None,Maze Run Vr,http://store.steampowered.com/app/681550/Maze_...,None,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,NaN,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,1.0,681550.0,None,None

## Transformacion del df_users_items

In [9]:
df_users_items

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

Realizar una copia del dataframe users_items para transformarlo

In [5]:
df_users_items_v2 = df_users_items.copy()

Eliminar los valores repetidos de la columna user_id

In [6]:
# Utilizar la funcion drop_duplicates para eliminar las filas en donde un valor de la columna user_id se encuentre repetido
df_users_items_v2 = df_users_items_v2.drop_duplicates(subset=['user_id'])
df_users_items_v2

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

Borrar las filas en donde el la columna items_count tome valor de cero

In [7]:
# Usar la funcion drop para eliminar las filas en donde la columna items_count tome el valor de cero
df_users_items_v2 = df_users_items_v2.drop(df_users_items_v2[df_users_items_v2['items_count'] == 0].index)
df_users_items_v2

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88303,76561198320136420,321,76561198320136420,http://steamcommunity.com/profiles/76561198320...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88304,ArkPlays7,4,76561198321542621,http://steamcommunity.com/id/ArkPlays7,"[{'item_id': '218230', 'item_name': 'PlanetSid..."
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."

Reindexar el dataframe

In [8]:
# Usar la funcion reset_index para reindexar el dataframe
df_users_items_v2 = df_users_items_v2.reset_index(drop=True)
df_users_items_v2

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
70907,76561198320136420,321,76561198320136420,http://steamcommunity.com/profiles/76561198320...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
70908,ArkPlays7,4,76561198321542621,http://steamcommunity.com/id/ArkPlays7,"[{'item_id': '218230', 'item_name': 'PlanetSid..."
70909,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
70910,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
70911,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."

dejar en filas independientes cada elemento de la lista anidada en la columna items

In [9]:
# Utiliza la funcion explode para desanidar la lista de diccionarios, la cual crea una fila para cada diccionarios de esa lista
df_users_items_v2 = df_users_items_v2.explode('items')
#con fillna rellenamos los na faltantes y con el method ffill "forward_fill" se rellena con el valor inmediatamente anterior.
df_users_items_v2 = df_users_items_v2.fillna(method='ffill')
#resetiamos el index
df_users_items_v2 = df_users_items_v2.reset_index(drop=True)
df_users_items_v2

C:\Users\haide\AppData\Local\Temp\ipykernel_24472\1968226382.py:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_users_items_v2 = df_users_items_v2.fillna(method='ffill')

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '10', 'item_name': 'Counter-Strike..."
1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '20', 'item_name': 'Team Fortress ..."
2,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '30', 'item_name': 'Day of Defeat'..."
3,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '40', 'item_name': 'Deathmatch Cla..."
4,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '50', 'item_name': 'Half-Life: Opp..."
...,...,...,...,...,...
5094077,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '346330', 'item_name': 'BrainBread..."
5094078,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '373330', 'item_name': 'All Is Dus..."
5094079,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '388490', 'item_name': 'One Way To..."
5094080,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '521570', 'item_name': 'You Have 1..."
5094081,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '519140', 'item_name': 'Minds Eyes..."

Separar en columnas independientes cada clave de los diccionarios contenidos en la columna items.

In [10]:
# Extraer y normalizar el diccionario en una nueva DataFrame
df_normalized = pd.json_normalize(df_users_items_v2['items'])

# Concatenar el DataFrame original con las nuevas columnas
df_users_items_v2 = pd.concat([df_users_items_v2, df_normalized], axis=1)

# Eliminar la columna original 'datos' si es necesario
df_users_items_v2 = df_users_items_v2.drop(columns=['items'])
df_users_items_v2

,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10,Counter-Strike,6,0
1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20,Team Fortress Classic,0,0
2,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30,Day of Defeat,7,0
3,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40,Deathmatch Classic,0,0
4,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50,Half-Life: Opposing Force,0,0
...,...,...,...,...,...,...,...,...
5094077,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,346330,BrainBread 2,0,0
5094078,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,373330,All Is Dust,0,0
5094079,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,388490,One Way To Die: Steam Edition,3,3
5094080,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,521570,You Have 10 Seconds 2,4,4
5094081,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,519140,Minds Eyes,3,3

Exportar en csv el dataframe para realizar el EDA

In [50]:
df_users_items_v2_EDA = 'df_users_items_v2_EDA.csv'
df_users_items_v2.to_csv(df_users_items_v2_EDA, index=False)

## Transformación del df_user_reviews

In [109]:
df_user_reviews

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

In [37]:
df_user_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25799 entries, 0 to 25798
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   25799 non-null  object
 1   user_url  25799 non-null  object
 2   reviews   25799 non-null  object
dtypes: object(3)
memory usage: 604.8+ KB

Crear una copia del df_user_reviews para transformarlo

In [110]:
# Realizar una copia de df original
df_users_reviews_v2 = df_user_reviews.copy()

Verificar si hay usuarios repetidos en la columna user_id y si los hay eliminarlos

In [111]:
# Utilizar la funcion drop_duplicates para eliminar las filas en donde un valor de la columna user_id se encuentre repetido
df_users_reviews_v2 = df_users_reviews_v2.drop_duplicates(subset=['user_id'])
df_users_reviews_v2

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

Eliminar de la columna reviews todas las listas vacias

In [112]:
# Verifica y elimina las celdas con una lista vacía '[]' en la columna 'reviews'
df_users_reviews_v2['reviews'] = df_users_reviews_v2['reviews'].apply(lambda x: None if x == [] else x)

# Elimina las filas donde 'reviews' es None
df_users_reviews_v2 = df_users_reviews_v2.dropna(subset=['reviews']).reset_index(drop=True)
df_users_reviews_v2

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25452,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25453,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25454,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25455,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25456,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

dejar en filas independientes cada elemento de la lista anidada en la columna reviews

In [113]:
#Se utiliza la funcion explode para desanidar la lista de diccionarios, la cual crea una fila para cada elemento de esa lista,
#manteniendo tambien las demas de columnas duplicadas para ese nuevo elemento
df_users_reviews_v2 = df_users_reviews_v2.explode('reviews')
#con fillna rellenamos los na faltantes y con el method ffill "forward_fill" se rellena con el valor inmediatamente anterior.
df_users_reviews_v2 = df_users_reviews_v2.fillna(method='ffill')
#resetiamos el index
df_users_reviews_v2 = df_users_reviews_v2.reset_index(drop=True)
df_users_reviews_v2

C:\Users\haide\AppData\Local\Temp\ipykernel_24472\509757608.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_users_reviews_v2 = df_users_reviews_v2.fillna(method='ffill')

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted November 5, 20..."
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted July 15, 2011...."
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted April 21, 2011..."
3,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted June 24, 2014...."
4,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted September 8, 2..."
...,...,...,...
58425,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"{'funny': '', 'posted': 'Posted July 10.', 'la..."
58426,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"{'funny': '', 'posted': 'Posted July 8.', 'las..."
58427,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"{'funny': '1 person found this review funny', ..."
58428,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"{'funny': '', 'posted': 'Posted July 20.', 'la..."
58429,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"{'funny': '', 'posted': 'Posted July 2.', 'las..."

dejar en columnas independientes cada clave de los diccionarios contenidos en la columna reviews.

In [114]:
# Extraer y normalizar el diccionario en una nueva DataFrame
df_normalized_user_reviews = pd.json_normalize(df_users_reviews_v2['reviews'])

# Concatenar el DataFrame original con las nuevas columnas
df_users_reviews_v2 = pd.concat([df_users_reviews_v2, df_normalized_user_reviews], axis=1)

# Eliminar la columna original 'datos' si es necesario
df_users_reviews_v2 = df_users_reviews_v2.drop(columns=['reviews'])
df_users_reviews_v2

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,http://steamcommunity.com/id/js41637,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,js41637,http://steamcommunity.com/id/js41637,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...,...,...,...
58425,76561198312638244,http://steamcommunity.com/profiles/76561198312...,,Posted July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...
58426,76561198312638244,http://steamcommunity.com/profiles/76561198312...,,Posted July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...
58427,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...
58428,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,,Posted July 20.,,730,No ratings yet,True,:D
58429,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,,Posted July 2.,,440,No ratings yet,True,so much fun :D

Exportar a csv el dataframe para realizar el EDA

In [51]:
df_users_reviews_v2_EDA = 'df_users_reviews_v2_EDA.csv'
df_users_reviews_v2.to_csv(df_users_reviews_v2_EDA, index=False)

# Desarrollo de Funciones

## Primera funcion: def userdata( User_id : str ): Debe devolver cantidad de dinero gastado por el usuario, el porcentaje de recomendación en base a reviews.recommend y cantidad de items.

Agregar una nueva columna con el precio de cada juego en el df_first_function traido desde el df steam_games

In [52]:
df_first_function = df_users_items_v2.copy()

In [57]:
df_first_function

,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10,Counter-Strike,6,0
1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20,Team Fortress Classic,0,0
2,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30,Day of Defeat,7,0
3,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40,Deathmatch Classic,0,0
4,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50,Half-Life: Opposing Force,0,0
...,...,...,...,...,...,...,...,...
5094077,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,346330,BrainBread 2,0,0
5094078,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,373330,All Is Dust,0,0
5094079,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,388490,One Way To Die: Steam Edition,3,3
5094080,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,521570,You Have 10 Seconds 2,4,4
5094081,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,519140,Minds Eyes,3,3

In [54]:
df_steam_games_v2.head()

,publisher,genres,title,url,release_date,tags,reviews_url,discount_price,specs,price,early_access,id,metascore,developer
0,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,4.49,[Single-player],4.99,0.0,761140.0,None,Kotoshiro
1,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,NaN,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,0.0,643980.0,None,Secret Level SRL
2,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,NaN,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,0.0,670290.0,None,Poolians.com
3,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,0.83,[Single-player],0.99,0.0,767400.0,None,彼岸领域
4,None,None,Log Challenge,http://store.steampowered.com/app/773570/Log_C...,None,"[Action, Indie, Casual, Sports]",http://steamcommunity.com/app/773570/reviews/?...,1.79,"[Single-player, Full controller support, HTC V...",2.99,0.0,773570.0,None,None

Convertir la columna item_id del df_first_function a tipo float y renombrar la columna para realizar un merge con el steam_games para obtener el precio

In [60]:
df_first_function['item_id'] = df_first_function['item_id'].astype(float)
df_first_function = df_first_function.rename(columns={'item_id':'id'})
df_first_function

,user_id,items_count,steam_id,user_url,id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10.0,Counter-Strike,6,0
1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20.0,Team Fortress Classic,0,0
2,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30.0,Day of Defeat,7,0
3,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40.0,Deathmatch Classic,0,0
4,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50.0,Half-Life: Opposing Force,0,0
...,...,...,...,...,...,...,...,...
5094077,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,346330.0,BrainBread 2,0,0
5094078,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,373330.0,All Is Dust,0,0
5094079,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,388490.0,One Way To Die: Steam Edition,3,3
5094080,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,521570.0,You Have 10 Seconds 2,4,4
5094081,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,519140.0,Minds Eyes,3,3

Realizar el merge de los dos dataframes, agregando la columna price traida desde el steam_games

In [63]:
df_first_function = pd.merge(df_first_function, df_steam_games_v2[['id', 'price']], on='id', how='left')

In [64]:
df_first_function

,user_id,items_count,steam_id,user_url,id,item_name,playtime_forever,playtime_2weeks,price
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10.0,Counter-Strike,6,0,9.99
1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20.0,Team Fortress Classic,0,0,4.99
2,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30.0,Day of Defeat,7,0,4.99
3,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40.0,Deathmatch Classic,0,0,4.99
4,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50.0,Half-Life: Opposing Force,0,0,4.99
...,...,...,...,...,...,...,...,...,...
5094077,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,346330.0,BrainBread 2,0,0,Free
5094078,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,373330.0,All Is Dust,0,0,Free
5094079,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,388490.0,One Way To Die: Steam Edition,3,3,Free to Play
5094080,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,521570.0,You Have 10 Seconds 2,4,4,Free To Play
5094081,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,519140.0,Minds Eyes,3,3,NaN

Convertir a float la columna price del df_first_function

In [69]:
# Realizar funcion para convertir la columna price en float, si la cadena no se puede convertir a float, retornar un None
def try_convert_to_float(cadena):
    try:
        return float(cadena)
    except (ValueError, TypeError):
        return None

# Aplica la función a la columna 'price' y crea una nueva columna llamada 'price_float_column'
df_first_function['price_float_column'] = df_first_function['price'].apply(try_convert_to_float)

df_first_function

,user_id,items_count,steam_id,user_url,id,item_name,playtime_forever,playtime_2weeks,price,price_float_column
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10.0,Counter-Strike,6,0,9.99,9.99
1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20.0,Team Fortress Classic,0,0,4.99,4.99
2,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30.0,Day of Defeat,7,0,4.99,4.99
3,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40.0,Deathmatch Classic,0,0,4.99,4.99
4,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50.0,Half-Life: Opposing Force,0,0,4.99,4.99
...,...,...,...,...,...,...,...,...,...,...
5094077,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,346330.0,BrainBread 2,0,0,Free,NaN
5094078,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,373330.0,All Is Dust,0,0,Free,NaN
5094079,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,388490.0,One Way To Die: Steam Edition,3,3,Free to Play,NaN
5094080,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,521570.0,You Have 10 Seconds 2,4,4,Free To Play,NaN
5094081,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,519140.0,Minds Eyes,3,3,NaN,NaN

se eliminan todos los nulos de la columna price_float_column

In [70]:
df_first_function = df_first_function.dropna(subset=['price_float_column'])
df_first_function

,user_id,items_count,steam_id,user_url,id,item_name,playtime_forever,playtime_2weeks,price,price_float_column
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10.0,Counter-Strike,6,0,9.99,9.99
1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20.0,Team Fortress Classic,0,0,4.99,4.99
2,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30.0,Day of Defeat,7,0,4.99,4.99
3,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40.0,Deathmatch Classic,0,0,4.99,4.99
4,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50.0,Half-Life: Opposing Force,0,0,4.99,4.99
...,...,...,...,...,...,...,...,...,...,...
5093924,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,252150.0,Grimm,0,0,3.99,3.99
5093927,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,285580.0,ACE - Arena: Cyber Evolution,0,0,189.96,189.96
5094042,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,473770.0,BallisticNG,0,0,4.99,4.99
5094063,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,503010.0,Legends of Azulgar,0,0,14.99,14.99
5094070,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,104900.0,ORION: Prelude,0,0,0.99,0.99

Seleccionar las columnas con las que se va a desarrollar la funcion en main.py

In [71]:
select_columns_first_function = df_first_function[['user_id', 'items_count', 'price_float_column']]
df_first_function = pd.DataFrame(select_columns_first_function)
df_first_function

                   user_id  items_count  price_float_column
0        76561197970982479          277                9.99
1        76561197970982479          277                4.99
2        76561197970982479          277                4.99
3        76561197970982479          277                4.99
4        76561197970982479          277                4.99
...                    ...          ...                 ...
5093924  76561198326700687          177                3.99
5093927  76561198326700687          177              189.96
5094042  76561198326700687          177                4.99
5094063  76561198326700687          177               14.99
5094070  76561198326700687          177                0.99

[3360720 rows x 3 columns]

Agrupar el dataframe por user_id e items_count y realizar la suma de price_float_column

In [72]:
df_first_function = df_first_function.groupby(['user_id', 'items_count'])['price_float_column'].sum().reset_index()
df_first_function

                 user_id  items_count  price_float_column
0                --000--           58              402.77
1                --ace--           44              166.82
2              --ionex--           23              109.92
3           -2SV-vuLB-Kg           68              437.49
4      -404PageNotFound-          149             1514.31
...                  ...          ...                 ...
65967             zzonci            5               19.98
65968        zzoptimuszz           61               64.98
65969            zzydrax           13               99.94
65970              zzyfo           84              828.51
65971         zzzmidmiss           69              453.67

[65972 rows x 3 columns]

Generar un dataframe para obtener el porcentaje de reviews recommend

In [74]:
selec_columns_df_first_function_recommend = df_users_reviews_v2[['user_id', 'recommend']]
df_first_function_recommend = pd.DataFrame(selec_columns_df_first_function_recommend)
df_first_function_recommend

                 user_id  recommend
0      76561197970982479       True
1      76561197970982479       True
2      76561197970982479       True
3                js41637       True
4                js41637       True
...                  ...        ...
58425  76561198312638244       True
58426  76561198312638244       True
58427        LydiaMorley       True
58428        LydiaMorley       True
58429        LydiaMorley       True

[58430 rows x 2 columns]

Generar el porcentaje de reviews recommend

In [79]:
# Agrupa por 'user_id' y calcula la suma total de 'recommend' igual a True
total_recomend_true = df_first_function_recommend.groupby('user_id')['recommend'].sum().reset_index()

# Agrupa nuevamente por 'user_id' para obtener el total de 'recommend'
total_recomend = df_first_function_recommend.groupby('user_id')['recommend'].count().reset_index()

# Fusiona los dos DataFrames en base a 'user_id'
merged_df = total_recomend.merge(total_recomend_true, on='user_id', suffixes=('_total', '_true'))

# Calcula el porcentaje y crea una nueva columna 'porcentaje_recommend'
merged_df['porcentaje_recommend'] = (merged_df['recommend_true'] / merged_df['recommend_total']) * 100

merged_df

            user_id  recommend_total  recommend_true  porcentaje_recommend
0           --000--                1               1                 100.0
1           --ace--                2               2                 100.0
2         --ionex--                2               2                 100.0
3      -2SV-vuLB-Kg                5               5                 100.0
4          -Azsael-                1               1                 100.0
...             ...              ...             ...                   ...
25452   zwanzigdrei                1               1                 100.0
25453        zy0705                1               1                 100.0
25454    zynxgameth                1               1                 100.0
25455       zyr0n1c                9               9                 100.0
25456   zzoptimuszz                1               1                 100.0

[25457 rows x 4 columns]

Generar el dataframe final con el porcentaje_recommend requerido para realizar la funcion

In [81]:
select_columns_df_first_function_recommend_true = ['user_id', 'porcentaje_recommend']  # Lista de nombres de las columnas deseadas
df_first_function_recommend_true = merged_df[select_columns_df_first_function_recommend_true]  # Crea un nuevo DataFrame con las columnas seleccionadas
df_first_function_recommend_true

            user_id  porcentaje_recommend
0           --000--                 100.0
1           --ace--                 100.0
2         --ionex--                 100.0
3      -2SV-vuLB-Kg                 100.0
4          -Azsael-                 100.0
...             ...                   ...
25452   zwanzigdrei                 100.0
25453        zy0705                 100.0
25454    zynxgameth                 100.0
25455       zyr0n1c                 100.0
25456   zzoptimuszz                 100.0

[25457 rows x 2 columns]

Realizar la funcion

In [85]:
def obtener_valores(user_id):
    # Busca el 'user_id' en el DataFrame
    fila = df_first_function[df_first_function['user_id'] == user_id]
    # Si no se encuentra el 'user_id', devuelve None
    if fila.empty:
        return None, None
    # Si se encuentra el 'user_id', obtiene los valores de 'items_count' y 'price_float_column'
    items_count = fila.iloc[0]['items_count']
    price_float_column = fila.iloc[0]['price_float_column']
    price_float_column = round(price_float_column, 2)

    fila_recommend = df_first_function_recommend_true[df_first_function_recommend_true['user_id'] == user_id]
    if fila_recommend.empty:
        return None
    porcentaje_recommend = fila_recommend.iloc[0]['porcentaje_recommend']
    
    return items_count, price_float_column, porcentaje_recommend

obtener_valores('iamthekingofbrowntown')

(149, 1354.98, 50.0)

pasar a csv los dataframes

In [86]:
first_function_file_one = 'first_function_file_one.csv'
df_first_function.to_csv(first_function_file_one, index=False)

In [87]:
first_function_file_two = 'first_function_file_two.csv'
df_first_function_recommend_true.to_csv(first_function_file_two, index=False)

## Segunda funcion: def countreviews( YYYY-MM-DD y YYYY-MM-DD : str ): Cantidad de usuarios que realizaron reviews entre las fechas dadas y, el porcentaje de recomendación de los mismos en base a reviews.recommend.

In [88]:
# Seleccionar las columnas con las que se va a trabajar
select_columns_second_function = df_users_reviews_v2[['user_id', 'posted', 'recommend', 'review']]
# Crear un nuevo dataframe
df_second_function_file_one = pd.DataFrame(select_columns_second_function)
df_second_function_file_one

,user_id,posted,recommend,review
0,76561197970982479,"Posted November 5, 2011.",True,Simple yet with great replayability. In my opi...
1,76561197970982479,"Posted July 15, 2011.",True,It's unique and worth a playthrough.
2,76561197970982479,"Posted April 21, 2011.",True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,"Posted June 24, 2014.",True,I know what you think when you see this title ...
4,js41637,"Posted September 8, 2013.",True,For a simple (it's actually not all that simpl...
...,...,...,...,...
58425,76561198312638244,Posted July 10.,True,a must have classic from steam definitely wort...
58426,76561198312638244,Posted July 8.,True,this game is a perfect remake of the original ...
58427,LydiaMorley,Posted July 3.,True,had so much fun plaing this and collecting res...
58428,LydiaMorley,Posted July 20.,True,:D
58429,LydiaMorley,Posted July 2.,True,so much fun :D

In [89]:
df_second_function_file_one.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58430 entries, 0 to 58429
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    58430 non-null  object
 1   posted     58430 non-null  object
 2   recommend  58430 non-null  bool
 3   review     58430 non-null  object
dtypes: bool(1), object(3)
memory usage: 1.4+ MB

creamos una nueva columna con la fecha de posted en formato YYYY-MM-DD

In [90]:
# Definir una función para extraer y convertir las fechas
def extract_and_convert_date(date_str):
    match = re.search(r'(\w+) (\d+), (\d+)', date_str)
    if match:
        month = match.group(1)
        day = match.group(2)
        year = match.group(3)
        try:
            # Intentar construir una fecha válida y luego formatearla
            formatted_date = pd.to_datetime(f"{year}-{month}-{day}", format='%Y-%B-%d', errors='coerce')
            return formatted_date.strftime('%Y-%m-%d')
        except ValueError:
            # Si la conversión falla, devolver NaN
            return None
    else:
        # Si no se encuentra un patrón válido, devolver NaN
        return None

# Aplicar la función a la columna 'Fecha' y crear una nueva columna 'Nueva_Fecha'
df_second_function_file_one['new_date_format'] = df_second_function_file_one['posted'].apply(extract_and_convert_date)

df_second_function_file_one

,user_id,posted,recommend,review,new_date_format
0,76561197970982479,"Posted November 5, 2011.",True,Simple yet with great replayability. In my opi...,2011-11-05
1,76561197970982479,"Posted July 15, 2011.",True,It's unique and worth a playthrough.,2011-07-15
2,76561197970982479,"Posted April 21, 2011.",True,Great atmosphere. The gunplay can be a bit chu...,2011-04-21
3,js41637,"Posted June 24, 2014.",True,I know what you think when you see this title ...,2014-06-24
4,js41637,"Posted September 8, 2013.",True,For a simple (it's actually not all that simpl...,2013-09-08
...,...,...,...,...,...
58425,76561198312638244,Posted July 10.,True,a must have classic from steam definitely wort...,None
58426,76561198312638244,Posted July 8.,True,this game is a perfect remake of the original ...,None
58427,LydiaMorley,Posted July 3.,True,had so much fun plaing this and collecting res...,None
58428,LydiaMorley,Posted July 20.,True,:D,None
58429,LydiaMorley,Posted July 2.,True,so much fun :D,None

Eliminar las filas en donde la columna new_date_format tomen un valor nulo

In [91]:
df_second_function_file_one = df_second_function_file_one.dropna(subset=['new_date_format'])
df_second_function_file_one

,user_id,posted,recommend,review,new_date_format
0,76561197970982479,"Posted November 5, 2011.",True,Simple yet with great replayability. In my opi...,2011-11-05
1,76561197970982479,"Posted July 15, 2011.",True,It's unique and worth a playthrough.,2011-07-15
2,76561197970982479,"Posted April 21, 2011.",True,Great atmosphere. The gunplay can be a bit chu...,2011-04-21
3,js41637,"Posted June 24, 2014.",True,I know what you think when you see this title ...,2014-06-24
4,js41637,"Posted September 8, 2013.",True,For a simple (it's actually not all that simpl...,2013-09-08
...,...,...,...,...,...
58377,wayfeng,"Posted October 14, 2015.",True,its FUNNNNNNNN,2015-10-14
58380,76561198251004808,"Posted October 10, 2015.",True,Awesome fantasy game if you don't mind the gra...,2015-10-10
58390,72947282842,"Posted October 31, 2015.",True,Prettyy Mad Game,2015-10-31
58392,ApxLGhost,"Posted December 14, 2015.",True,AMAZING GAME 10/10,2015-12-14
58401,76561198267374962,"Posted December 29, 2015.",True,Why I voted yes? 1. Girl characters have boobs...,2015-12-29

Generar un dataframe con las columnas deseadas para realizar la segunda funcion

In [92]:
select_columns_second_function = ['user_id', 'recommend', 'new_date_format']  # Lista de nombres de las columnas deseadas
df_second_function_file_one = df_second_function_file_one[select_columns_second_function]
df_second_function_file_one

                 user_id  recommend new_date_format
0      76561197970982479       True      2011-11-05
1      76561197970982479       True      2011-07-15
2      76561197970982479       True      2011-04-21
3                js41637       True      2014-06-24
4                js41637       True      2013-09-08
...                  ...        ...             ...
58377            wayfeng       True      2015-10-14
58380  76561198251004808       True      2015-10-10
58390        72947282842       True      2015-10-31
58392          ApxLGhost       True      2015-12-14
58401  76561198267374962       True      2015-12-29

[48498 rows x 3 columns]

Exportar el dataframe como csv para utilizar el archivo en la segunda funcion

In [93]:
second_function_file_one = 'second_function_file_one.csv'
df_second_function_file_one.to_csv(second_function_file_one, index=False)

## Tercera funcion: def genre( género : str ): Devuelve el puesto en el que se encuentra un género sobre el ranking de los mismos analizado bajo la columna PlayTimeForever.

Seleccionar las columnas a utilizar en el dataframe de la tercera_funcion

In [94]:
df_third_function_select_columns = ['item_name', 'playtime_forever']
df_third_function = df_users_items_v2[df_third_function_select_columns]
df_third_function

                             item_name  playtime_forever
0                       Counter-Strike                 6
1                Team Fortress Classic                 0
2                        Day of Defeat                 7
3                   Deathmatch Classic                 0
4            Half-Life: Opposing Force                 0
...                                ...               ...
5094077                   BrainBread 2                 0
5094078                    All Is Dust                 0
5094079  One Way To Die: Steam Edition                 3
5094080          You Have 10 Seconds 2                 4
5094081                     Minds Eyes                 3

[5094082 rows x 2 columns]

Eliminar las filas en donde play_time_forever sea igual a cero

In [96]:
df_third_function = df_third_function.loc[df_third_function['playtime_forever'] != 0]
df_third_function

                             item_name  playtime_forever
0                       Counter-Strike                 6
2                        Day of Defeat                 7
8                Day of Defeat: Source              4733
9               Counter-Strike: Source              1853
10                         Psychonauts               333
...                                ...               ...
5094075                       Unturned               677
5094076              Heroes & Generals                43
5094079  One Way To Die: Steam Edition                 3
5094080          You Have 10 Seconds 2                 4
5094081                     Minds Eyes                 3

[3246352 rows x 2 columns]

Cambiar el nombre de la columna item_name a title para realizar el merge con el dataframe steam_games_v2

In [97]:
df_third_function = df_third_function.rename(columns={'item_name': 'title'})
df_third_function

                                 title  playtime_forever
0                       Counter-Strike                 6
2                        Day of Defeat                 7
8                Day of Defeat: Source              4733
9               Counter-Strike: Source              1853
10                         Psychonauts               333
...                                ...               ...
5094075                       Unturned               677
5094076              Heroes & Generals                43
5094079  One Way To Die: Steam Edition                 3
5094080          You Have 10 Seconds 2                 4
5094081                     Minds Eyes                 3

[3246352 rows x 2 columns]

Realizar un merge con el dataframe steam_games_v2 para traer la columna genres

In [98]:
df_third_function = df_third_function.merge(df_steam_games_v2[['title', 'genres']], on='title', how='left')
df_third_function

,title,playtime_forever,genres
0,Counter-Strike,6,[Action]
1,Day of Defeat,7,NaN
2,Day of Defeat: Source,4733,NaN
3,Counter-Strike: Source,1853,[Action]
4,Psychonauts,333,[Action]
...,...,...,...
3248269,Unturned,677,"[Action, Adventure, Casual, Free to Play, Indie]"
3248270,Heroes & Generals,43,"[Action, Free to Play, Indie, Massively Multip..."
3248271,One Way To Die: Steam Edition,3,"[Adventure, Free to Play]"
3248272,You Have 10 Seconds 2,4,"[Casual, Free to Play, Indie]"
3248273,Minds Eyes,3,NaN

Eliminar las filas en donde la columna genres del df_third_function tome el valor de NaN

In [99]:
df_third_function = df_third_function.dropna(subset=['genres'])
df_third_function

,title,playtime_forever,genres
0,Counter-Strike,6,[Action]
3,Counter-Strike: Source,1853,[Action]
4,Psychonauts,333,[Action]
8,Joint Task Force,286,"[Action, Strategy]"
11,Half-Life 2,696,[Action]
...,...,...,...
3248266,Counter-Strike: Global Offensive,4557,[Action]
3248269,Unturned,677,"[Action, Adventure, Casual, Free to Play, Indie]"
3248270,Heroes & Generals,43,"[Action, Free to Play, Indie, Massively Multip..."
3248271,One Way To Die: Steam Edition,3,"[Adventure, Free to Play]"
3248272,You Have 10 Seconds 2,4,"[Casual, Free to Play, Indie]"

Realizar agrupamiento por generos y sumar la columna playtime_forever

In [100]:
# Utiliza explode() para convertir las listas en filas individuales
df_third_function = df_third_function.explode('genres')

# Utiliza groupby() y sum() para sumar los valores numéricos por categoría
df_third_function = df_third_function.groupby('genres')['playtime_forever'].sum().reset_index()
# Organizar la columna playtime_forever de forma ascendente y resetear el index
df_third_function = df_third_function.sort_values(by='playtime_forever', ascending=False).reset_index(drop=True)

df_third_function

                       genres  playtime_forever
0                      Action        2329725980
1                         RPG         721185905
2                       Indie         694673738
3                   Adventure         611569696
4                Free to Play         388719902
5                    Strategy         302812869
6                  Simulation         298147828
7       Massively Multiplayer         211141599
8                      Casual         188390714
9                Early Access         105928800
10                     Sports          11095466
11                     Racing           7886271
12                  Utilities            779412
13   Animation &amp; Modeling            389118
14  Design &amp; Illustration            343075
15             Web Publishing            186537
16                  Education            151573
17           Video Production             92655
18              Photo Editing             43518
19          Software Training             28155
20           Audio Production             21893

Exportar a csv el dataframe df_third_function para realizar la funcion en el main.py

In [101]:
third_function_file_one = 'third_function_file_one.csv'
df_third_function.to_csv(third_function_file_one, index=False)

## Cuarta funcion: def userforgenre( género : str ): Top 5 de usuarios con más horas de juego en el género dado, con su URL (del user) y user_id.

Crear una copia del df_users_items_v2 que es el que se va a trabajar para esta función.

In [11]:
df_fourth_function = df_users_items_v2.copy()

In [12]:
df_fourth_function_select_columns = ['user_id', 'user_url', 'item_name', 'playtime_forever']
df_fourth_function = df_fourth_function[df_fourth_function_select_columns]
df_fourth_function = df_fourth_function.rename(columns={'item_name': 'title'})
df_fourth_function

,user_id,user_url,title,playtime_forever
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Counter-Strike,6
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Team Fortress Classic,0
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Day of Defeat,7
3,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Deathmatch Classic,0
4,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Half-Life: Opposing Force,0
...,...,...,...,...
5094077,76561198329548331,http://steamcommunity.com/profiles/76561198329...,BrainBread 2,0
5094078,76561198329548331,http://steamcommunity.com/profiles/76561198329...,All Is Dust,0
5094079,76561198329548331,http://steamcommunity.com/profiles/76561198329...,One Way To Die: Steam Edition,3
5094080,76561198329548331,http://steamcommunity.com/profiles/76561198329...,You Have 10 Seconds 2,4
5094081,76561198329548331,http://steamcommunity.com/profiles/76561198329...,Minds Eyes,3

In [19]:
df_fourth_function = df_fourth_function.merge(df_steam_games_v2[['title', 'genres']], on='title', how='left')
df_fourth_function

,user_id,user_url,title,playtime_forever,genres
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Counter-Strike,6,[Action]
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Team Fortress Classic,0,[Action]
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Day of Defeat,7,NaN
3,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Deathmatch Classic,0,[Action]
4,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Half-Life: Opposing Force,0,[Action]
...,...,...,...,...,...
5097796,76561198329548331,http://steamcommunity.com/profiles/76561198329...,BrainBread 2,0,NaN
5097797,76561198329548331,http://steamcommunity.com/profiles/76561198329...,All Is Dust,0,None
5097798,76561198329548331,http://steamcommunity.com/profiles/76561198329...,One Way To Die: Steam Edition,3,"[Adventure, Free to Play]"
5097799,76561198329548331,http://steamcommunity.com/profiles/76561198329...,You Have 10 Seconds 2,4,"[Casual, Free to Play, Indie]"
5097800,76561198329548331,http://steamcommunity.com/profiles/76561198329...,Minds Eyes,3,NaN

In [20]:
df_fourth_function = df_fourth_function.dropna(subset=['genres'], how='any')
df_fourth_function

,user_id,user_url,title,playtime_forever,genres
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Counter-Strike,6,[Action]
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Team Fortress Classic,0,[Action]
3,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Deathmatch Classic,0,[Action]
4,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Half-Life: Opposing Force,0,[Action]
5,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Ricochet,0,[Action]
...,...,...,...,...,...
5097793,76561198326700687,http://steamcommunity.com/profiles/76561198326...,You Have 10 Seconds 2,0,"[Casual, Free to Play, Indie]"
5097794,76561198329548331,http://steamcommunity.com/profiles/76561198329...,Unturned,677,"[Action, Adventure, Casual, Free to Play, Indie]"
5097795,76561198329548331,http://steamcommunity.com/profiles/76561198329...,Heroes & Generals,43,"[Action, Free to Play, Indie, Massively Multip..."
5097798,76561198329548331,http://steamcommunity.com/profiles/76561198329...,One Way To Die: Steam Edition,3,"[Adventure, Free to Play]"
5097799,76561198329548331,http://steamcommunity.com/profiles/76561198329...,You Have 10 Seconds 2,4,"[Casual, Free to Play, Indie]"

Eliminar las filas en donde la columna playtime_forever tome el valor de cero

In [22]:
df_fourth_function = df_fourth_function[df_fourth_function['playtime_forever'] != 0]
df_fourth_function

,user_id,user_url,title,playtime_forever,genres
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Counter-Strike,6,[Action]
9,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Counter-Strike: Source,1853,[Action]
10,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Psychonauts,333,[Action]
15,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Joint Task Force,286,"[Action, Strategy]"
19,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Half-Life 2,696,[Action]
...,...,...,...,...,...
5097591,ArkPlays7,http://steamcommunity.com/id/ArkPlays7,Counter-Strike: Global Offensive,4557,[Action]
5097794,76561198329548331,http://steamcommunity.com/profiles/76561198329...,Unturned,677,"[Action, Adventure, Casual, Free to Play, Indie]"
5097795,76561198329548331,http://steamcommunity.com/profiles/76561198329...,Heroes & Generals,43,"[Action, Free to Play, Indie, Massively Multip..."
5097798,76561198329548331,http://steamcommunity.com/profiles/76561198329...,One Way To Die: Steam Edition,3,"[Adventure, Free to Play]"
5097799,76561198329548331,http://steamcommunity.com/profiles/76561198329...,You Have 10 Seconds 2,4,"[Casual, Free to Play, Indie]"

Desanidar las listas de la columna genres

In [23]:
df_fourth_function_explode = df_fourth_function.explode('genres')
df_fourth_function_explode

,user_id,user_url,title,playtime_forever,genres
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Counter-Strike,6,Action
9,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Counter-Strike: Source,1853,Action
10,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Psychonauts,333,Action
15,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Joint Task Force,286,Action
15,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Joint Task Force,286,Strategy
...,...,...,...,...,...
5097798,76561198329548331,http://steamcommunity.com/profiles/76561198329...,One Way To Die: Steam Edition,3,Adventure
5097798,76561198329548331,http://steamcommunity.com/profiles/76561198329...,One Way To Die: Steam Edition,3,Free to Play
5097799,76561198329548331,http://steamcommunity.com/profiles/76561198329...,You Have 10 Seconds 2,4,Casual
5097799,76561198329548331,http://steamcommunity.com/profiles/76561198329...,You Have 10 Seconds 2,4,Free to Play
5097799,76561198329548331,http://steamcommunity.com/profiles/76561198329...,You Have 10 Seconds 2,4,Indie

Realizar la agupación de las columnas y sumar la columna playtime_forever

In [24]:
fourth_function_result = df_fourth_function_explode.groupby(['user_id', 'user_url', 'genres',])['playtime_forever'].sum().reset_index()
fourth_function_result

,user_id,user_url,genres,playtime_forever
0,--000--,http://steamcommunity.com/id/--000--,Action,124461
1,--000--,http://steamcommunity.com/id/--000--,Adventure,9480
2,--000--,http://steamcommunity.com/id/--000--,Casual,8454
3,--000--,http://steamcommunity.com/id/--000--,Free to Play,8591
4,--000--,http://steamcommunity.com/id/--000--,Indie,5770
...,...,...,...,...
534971,zzzmidmiss,http://steamcommunity.com/id/zzzmidmiss,Free to Play,758
534972,zzzmidmiss,http://steamcommunity.com/id/zzzmidmiss,Indie,2442
534973,zzzmidmiss,http://steamcommunity.com/id/zzzmidmiss,RPG,2249
534974,zzzmidmiss,http://steamcommunity.com/id/zzzmidmiss,Racing,9
534975,zzzmidmiss,http://steamcommunity.com/id/zzzmidmiss,Strategy,55

Eliminar las filas en donde la columna playtime_forever tome valores menores a 20000 para reducir el peso del archivo

In [146]:
fourth_function_result = fourth_function_result[fourth_function_result['playtime_forever'] >= 20000]
fourth_function_result

,user_id,user_url,genres,playtime_forever
0,--000--,http://steamcommunity.com/id/--000--,Action,124461
9,--ace--,http://steamcommunity.com/id/--ace--,Action,65026
18,--ionex--,http://steamcommunity.com/id/--ionex--,Action,37389
27,-2SV-vuLB-Kg,http://steamcommunity.com/id/-2SV-vuLB-Kg,Action,37326
36,-404PageNotFound-,http://steamcommunity.com/id/-404PageNotFound-,Action,92671
...,...,...,...,...
534944,zzoptimuszz,http://steamcommunity.com/id/zzoptimuszz,Adventure,66438
534945,zzoptimuszz,http://steamcommunity.com/id/zzoptimuszz,Casual,66136
534946,zzoptimuszz,http://steamcommunity.com/id/zzoptimuszz,Free to Play,71085
534948,zzoptimuszz,http://steamcommunity.com/id/zzoptimuszz,Massively Multiplayer,58856
534949,zzoptimuszz,http://steamcommunity.com/id/zzoptimuszz,RPG,58930

exportarlo a csv.

In [147]:
fourth_function_file_one = 'fourth_function_file_one.csv'
fourth_function_result.to_csv(fourth_function_file_one, index=False)

In [28]:

genre = "Action"

# Filtra por el género deseado
filtered_df = fourth_function_result[fourth_function_result['genres'] == genre]

# Ordena el DataFrame filtrado por 'playtime_forever' en orden descendente
sorted_df = filtered_df.sort_values(by='playtime_forever', ascending=False)

# Toma los primeros 5 usuarios y almacénalos en una lista
top_5_users_list = sorted_df.head(5)['user_id'].tolist()
top_5_users_url_list = sorted_df.head(5)['user_url'].tolist()

print(top_5_users_list, top_5_users_url_list)

['Sp3ctre', 'DownSyndromeKid', 'Cow666', 'REBAS_AS_F-T', 'mittensgalore'] ['http://steamcommunity.com/id/Sp3ctre', 'http://steamcommunity.com/id/DownSyndromeKid', 'http://steamcommunity.com/id/Cow666', 'http://steamcommunity.com/id/REBAS_AS_F-T', 'http://steamcommunity.com/id/mittensgalore']

## Quinta funcion

def developer( desarrollador : str ): Cantidad de items y porcentaje de contenido Free por año según empresa desarrolladora. Ejemplo de salida:

Activision	
Año	Contenido Free
2023	27%
2022	25%
xxxx	xx%

Hacer una copia del dataframe df_steam_games_vs

In [92]:
df_fifth_function = df_steam_games_v2.copy()
df_fifth_function

,publisher,genres,title,url,release_date,tags,reviews_url,discount_price,specs,price,early_access,id,metascore,developer
0,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,4.49,[Single-player],4.99,0.0,761140.0,None,Kotoshiro
1,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,NaN,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,0.0,643980.0,None,Secret Level SRL
2,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,NaN,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,0.0,670290.0,None,Poolians.com
3,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,0.83,[Single-player],0.99,0.0,767400.0,None,彼岸领域
4,None,None,Log Challenge,http://store.steampowered.com/app/773570/Log_C...,None,"[Action, Indie, Casual, Sports]",http://steamcommunity.com/app/773570/reviews/?...,1.79,"[Single-player, Full controller support, HTC V...",2.99,0.0,773570.0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32130,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,1.49,"[Single-player, Steam Achievements]",1.99,0.0,773640.0,None,"Nikita ""Ghost_RUS"""
32131,Sacada,"[Casual, Indie, Strategy]",Logistical: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,4.24,"[Single-player, Steam Achievements, Steam Clou...",4.99,0.0,733530.0,None,Sacada
32132,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,1.39,"[Single-player, Steam Achievements, Steam Trad...",1.99,0.0,610660.0,None,Laush Dmitriy Sergeevich
32133,SIXNAILS,"[Casual, Indie]",Exit 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,NaN,"[Single-player, Steam Achievements, Steam Cloud]",4.99,0.0,658870.0,None,"xropi,stev3ns"
32134,None,None,Maze Run Vr,http://store.steampowered.com/app/681550/Maze_...,None,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,NaN,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,1.0,681550.0,None,None

Dejar unicamente las columnas necesarias para hacer la funcion.

In [93]:
drop_columns_fifth_function = ['publisher', 'genres','title','url','tags','reviews_url','discount_price','specs','early_access','id','metascore']
df_fifth_function = df_fifth_function.drop(drop_columns_fifth_function, axis=1)
df_fifth_function

      release_date         price                 developer
0       2018-01-04          4.99                 Kotoshiro
1       2018-01-04  Free To Play          Secret Level SRL
2       2017-07-24  Free to Play              Poolians.com
3       2017-12-07          0.99                      彼岸领域
4             None          2.99                      None
...            ...           ...                       ...
32130   2018-01-04          1.99        Nikita "Ghost_RUS"
32131   2018-01-04          4.99                    Sacada
32132   2018-01-04          1.99  Laush Dmitriy Sergeevich
32133   2017-09-02          4.99             xropi,stev3ns
32134         None          4.99                      None

[32133 rows x 3 columns]

Eliminar los nulos del dataframe

In [94]:
df_fifth_function = df_fifth_function.dropna()
df_fifth_function

      release_date         price                 developer
0       2018-01-04          4.99                 Kotoshiro
1       2018-01-04  Free To Play          Secret Level SRL
2       2017-07-24  Free to Play              Poolians.com
3       2017-12-07          0.99                      彼岸领域
5       2018-01-04          3.99       Trickjump Games Ltd
...            ...           ...                       ...
32129   2018-01-04          1.99           Bidoniera Games
32130   2018-01-04          1.99        Nikita "Ghost_RUS"
32131   2018-01-04          4.99                    Sacada
32132   2018-01-04          1.99  Laush Dmitriy Sergeevich
32133   2017-09-02          4.99             xropi,stev3ns

[27597 rows x 3 columns]

Convertir a string y normalizar los datos de la columna price

In [96]:
df_fifth_function.loc[:, 'price'] = df_fifth_function.loc[:, 'price'].astype(str)
df_fifth_function.loc[:, 'price'] = df_fifth_function.loc[:, 'price'].str.title()
df_fifth_function

      release_date         price                 developer
0       2018-01-04          4.99                 Kotoshiro
1       2018-01-04  Free To Play          Secret Level SRL
2       2017-07-24  Free To Play              Poolians.com
3       2017-12-07          0.99                      彼岸领域
5       2018-01-04          3.99       Trickjump Games Ltd
...            ...           ...                       ...
32129   2018-01-04          1.99           Bidoniera Games
32130   2018-01-04          1.99        Nikita "Ghost_RUS"
32131   2018-01-04          4.99                    Sacada
32132   2018-01-04          1.99  Laush Dmitriy Sergeevich
32133   2017-09-02          4.99             xropi,stev3ns

[27597 rows x 3 columns]

Realizar la funcion

In [108]:
# Define la desarrolladora deseada
developer_name = "Laush Dmitriy Sergeevich"

# Filtra el DataFrame por la desarrolladora especificada
developer_df = df_fifth_function.copy()
developer_df = developer_df[developer_df['developer'] == developer_name]

# Convierte la columna "release_date" a tipo datetime para extraer el año
developer_df['release_date'] = pd.to_datetime(developer_df['release_date'])
developer_df['year'] = developer_df['release_date'].dt.year

# Agrupa por año y calcula la cantidad de filas en la columna "price"
grouped = developer_df.groupby('year')
count_per_year = grouped['price'].count().reset_index()

# Filtra las filas donde "price" es igual a "Free To Play"
free_to_play_df = developer_df[developer_df['price'] == 'Free To Play']

# Agrupa las filas de "Free To Play" por año y calcula la cantidad
grouped_free_to_play = free_to_play_df.groupby('year')
count_free_to_play_per_year = grouped_free_to_play['price'].count().reset_index()

# Combina las dos tablas en una sola que contenga el recuento total y el recuento de "Free To Play" por año
result = pd.merge(count_per_year, count_free_to_play_per_year, on='year', how='left')

# Renombra las columnas para mayor claridad
result.rename(columns={'price_x': 'total', 'price_y': 'free_to_play'}, inplace=True)
result['free_to_play'] = result['free_to_play'].fillna(0)

# Calcula el porcentaje de "Free To Play" en relación al total
result['porcentaje_free_to_play'] = (result['free_to_play'] / result['total']) * 100

data_dict = result.set_index('year')[['total', 'porcentaje_free_to_play']].to_dict(orient='index')

# Transforma los valores en listas
for year, values in data_dict.items():
    data_dict[year] = [values['total'], values['porcentaje_free_to_play']]

# Imprime el diccionario resultante
data_dict

{2017: [9, 0.0], 2018: [1, 0.0]}

Exportar a csv para realizar la funcion en el main.py

In [97]:
fifth_function_file_one = 'fifth_function_file_one.csv'
df_fifth_function.to_csv(fifth_function_file_one, index=False)

## Sexta funcion: def sentiment_analysis( año : int ): Según el año de lanzamiento, se devuelve una lista con la cantidad de registros de reseñas de usuarios que se encuentren categorizados con un análisis de sentimiento.

Hacer una copia del dataframe con el que se va a trabajar

In [115]:
df_sixth_function = df_users_reviews_v2.copy()
df_sixth_function

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,http://steamcommunity.com/id/js41637,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,js41637,http://steamcommunity.com/id/js41637,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...,...,...,...
58425,76561198312638244,http://steamcommunity.com/profiles/76561198312...,,Posted July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...
58426,76561198312638244,http://steamcommunity.com/profiles/76561198312...,,Posted July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...
58427,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...
58428,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,,Posted July 20.,,730,No ratings yet,True,:D
58429,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,,Posted July 2.,,440,No ratings yet,True,so much fun :D

Eliminar las filas que no se van a utilizar para realizar la funcion

In [116]:
drop_columns_sixth_function = ['user_id','user_url','funny','last_edited','item_id','helpful','recommend']
df_sixth_function = df_sixth_function.drop(drop_columns_sixth_function, axis=1)
df_sixth_function = df_sixth_function.dropna()
df_sixth_function

,posted,review
0,"Posted November 5, 2011.",Simple yet with great replayability. In my opi...
1,"Posted July 15, 2011.",It's unique and worth a playthrough.
2,"Posted April 21, 2011.",Great atmosphere. The gunplay can be a bit chu...
3,"Posted June 24, 2014.",I know what you think when you see this title ...
4,"Posted September 8, 2013.",For a simple (it's actually not all that simpl...
...,...,...
58425,Posted July 10.,a must have classic from steam definitely wort...
58426,Posted July 8.,this game is a perfect remake of the original ...
58427,Posted July 3.,had so much fun plaing this and collecting res...
58428,Posted July 20.,:D
58429,Posted July 2.,so much fun :D

Realizar el analisis de sentimientos aplicando NLP

In [122]:
# Descargar el recurso VADER
nltk.download('vader_lexicon')

# Inicializar el analizador de sentimientos de VADER
sia = SentimentIntensityAnalyzer()

# Función para clasificar las reseñas
def classify_sentiment(review):
    sentiment_scores = sia.polarity_scores(review)
    compound_score = sentiment_scores['compound']
    if compound_score >= 0.05:
        return 2  # Positivo
    elif compound_score <= -0.05:
        return 0  # Malo
    else:
        return 1  # Neutral

# Aplicar la función para clasificar las reseñas y crear una nueva columna
df_sixth_function['review'] = df_sixth_function['review'].apply(classify_sentiment)

# Imprimir el DataFrame resultante
df_sixth_function

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\haide\AppData\Roaming\nltk_data...

                          posted  review
0       Posted November 5, 2011.       2
1          Posted July 15, 2011.       2
2         Posted April 21, 2011.       2
3          Posted June 24, 2014.       2
4      Posted September 8, 2013.       2
...                          ...     ...
58425            Posted July 10.       2
58426             Posted July 8.       2
58427             Posted July 3.       2
58428            Posted July 20.       2
58429             Posted July 2.       2

[58430 rows x 2 columns]

Realizar la funcion

In [124]:
# Extraer el año de la columna "posted"
df_sixth_function['year'] = df_sixth_function['posted'].str.extract(r'(\d{4})')

# Imprimir el DataFrame resultante
df_sixth_function

                          posted  review  year
0       Posted November 5, 2011.       2  2011
1          Posted July 15, 2011.       2  2011
2         Posted April 21, 2011.       2  2011
3          Posted June 24, 2014.       2  2014
4      Posted September 8, 2013.       2  2013
...                          ...     ...   ...
58425            Posted July 10.       2   NaN
58426             Posted July 8.       2   NaN
58427             Posted July 3.       2   NaN
58428            Posted July 20.       2   NaN
58429             Posted July 2.       2   NaN

[58430 rows x 3 columns]

In [126]:
df_sixth_function = df_sixth_function.dropna()
df_sixth_function

                          posted  review  year
0       Posted November 5, 2011.       2  2011
1          Posted July 15, 2011.       2  2011
2         Posted April 21, 2011.       2  2011
3          Posted June 24, 2014.       2  2014
4      Posted September 8, 2013.       2  2013
...                          ...     ...   ...
58377   Posted October 14, 2015.       1  2015
58380   Posted October 10, 2015.       2  2015
58390   Posted October 31, 2015.       0  2015
58392  Posted December 14, 2015.       2  2015
58401  Posted December 29, 2015.       2  2015

[48498 rows x 3 columns]

Exportar el dataframe a csv para realizar la funcion en main.py

In [136]:
sixth_function_file_one = 'sixth_function_file_one.csv'
df_sixth_function.to_csv(sixth_function_file_one, index=False)

Realizar la funcion

In [135]:
ano_a_filtrar = '2011'

# Filtrar por el año deseado
df_filtrado = df_sixth_function[df_sixth_function['year'] == ano_a_filtrar]

conteo_0 = df_filtrado['review'].value_counts().get(0, 0)
conteo_1 = df_filtrado['review'].value_counts().get(1, 0)
conteo_2 = df_filtrado['review'].value_counts().get(2, 0)

conteo_0, conteo_1, conteo_2

(61, 72, 397)